[Unit]
Description=Collection of HWreset rich cores
Requires=local-fs.target
After=local-fs.target

ConditionFileIsExecutable=/usr/sbin/rich-core-dumper
ConditionPathIsDirectory=/var/cache/core-dumps
ConditionPathExists=!/tmp/richcore-hwreset-mark

[Service]
Type=oneshot
RemainAfterExit=yes

# Test whether last reboot was caused by a hardware event and if so, gather the
# log files into a crash report.
ExecStart=/bin/sh -c ' \
	STATUS=$(/bin/sed -n "s|.*pwr_on_status=pwr_on_by_HW_\([^ ]*\).*|HW\1|p" /proc/cmdline) && \
	/usr/bin/test -n "$STATUS" && \
	/usr/sbin/rich-core-dumper --name=$STATUS --signal=$RANDOM'
ExecStart=/bin/touch /tmp/richcore-hwreset-mark

[Install]
WantedBy=basic.target
