[Unit]
Description=Rich core pattern
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/test -x /usr/sbin/rich-core-dumper
ExecStartPre=/usr/bin/test -d /var/cache/core-dumps

# Test whether last reboot was caused by a hardware event and if so, gather the
# log files into a crash report.
ExecStartPre=-/bin/sh -c '/usr/bin/test ! -f /tmp/richcore-hwreset-mark && \
	STATUS=$(/bin/sed -n "s|.*pwr_on_status=pwr_on_by_HW_\([^ ]*\).*|HW\1|p" /proc/cmdline) && \
	/usr/bin/test -n "$STATUS" && \
	/usr/sbin/rich-core-dumper --name=$STATUS --signal=$RANDOM'
ExecStartPre=-/bin/touch /tmp/richcore-hwreset-mark

ExecStart=/bin/sh -c "/sbin/sysctl -w kernel.core_pattern=\'|/usr/sbin/rich-core-dumper --pid=%%p --signal=%%s --name=%%e\'"

[Install]
WantedBy=basic.target
